<style>
    table * {
        text-align: center !important;
        white-space: nowrap !important;
        vertical-align: middle !important;
    }
</style>
<div class="columns">
    <div class="column" style="overflow-x: auto; text-align: center;">
        <table id="problems" class="table is-bordered is-striped is-hoverable" style="display: inline-flex;">
            <tbody>
                <tr>
                    <th>Date Added</th>
                    <th>Added By</th>
                    <th>Number of <br> Suppliers</th>
                    <th>Number of <br> Demanders</th>
                    <th>Total Units</th>
                    <th>Total Cost</th>
                    <th>Action</th>
                </tr>
                {{#each problems}}
                <tr data-id="{{this.id}}">
                    <td>{{this.date}}</td>
                    <td>{{this.user}}</td>
                    <td>{{this.suppliers}}</td>
                    <td>{{this.demanders}}</td>
                    <td>{{this.totalUnits}}</td>
                    {{#if this.totalCost}}
                    <td>{{this.totalCost}}</td>
                    <td>
                        <button class="button is-danger" onclick="viewProblem(getProblemId(this))">View Problem</button>
                        <button class="button is-success" onclick="viewSolution(getProblemId(this))">View Solution</button>
                    </td>
                    {{else}}
                    <td>N/A</td>
                    <td>
                        <button class="button is-danger" onclick="viewProblem(getProblemId(this))">View Problem</button>
                        <button class="button is-info" onclick="generateSolution(getProblemId(this))">Generate Solution</button>
                    </td>
                    {{/if}}
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>
<div id="problem-modal" class="modal">
    <div class="modal-background"></div>
    <div class="modal-content" style="width: unset;">
        <div class="box">
            <article class="media">
                <div class="media-content">
                    <div class="content">
                        <table id="problem" class="table is-bordered is-striped is-hoverable">
                            <tbody>
                                <tr>
                                    <th style="visibility:hidden"></th>
                                    <th>D<sub>1</sub></th>
                                    <th>Supply</th>
                                </tr>
                                <tr>
                                    <th>S<sub>1</sub></th>
                                    <td></td>
                                    <th></th>
                                </tr>
                                <tr>
                                    <th>Demand</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </article>
        </div>
    </div>
    <button class="modal-close is-large" aria-label="close"></button>
</div>
<div id="solution-modal" class="modal">
    <div class="modal-background"></div>
    <div class="modal-content" style="width: unset;">
        <div class="box">
            <article class="media">
                <div class="media-content">
                    <div class="columns">
                        <div class="column buttons" style="text-align: center;">
                            <button id="previous" class="button is-light" onclick="solutionViewer.previous()">Previous Step</button>
                            <button id="next" class="button is-light" onclick="solutionViewer.next()">Next Step</button>
                        </div>
                    </div>
                    <div id="solutions" class="content">
                    </div>
                    <div id="total"></div>
                </div>
            </article>
        </div>
    </div>
    <button class="modal-close is-large" aria-label="close"></button>
</div>
<script src="/assets/js/view.js"></script>